<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="test1" serializeAs="String">
                <value>0102030405060708091011121314151601020304050607080901</value>
            </setting>
            <setting name="test2" serializeAs="String">
                <value />
            </setting>
            <setting name="speed" serializeAs="String">
                <value>250K</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="downStr0" serializeAs="String">
                <value>Engine Control Unit reprogramming procedure:

   1.click "Reprogramming Tool" button, and enter the reprogramming window.

   2.In the popup window of reprogarmming, click "S19 File" button to select the file package for reprogramming.

   3.Click "Download" button to start the reprogramming action.

   4.During the reprogramming process, the browser in window will show the real - time status of reprogramming.

   5.Finally, the browser will show the result: success for fail.</value>
            </setting>
            <setting name="downStr1" serializeAs="String">
                <value>发动机控制单元软件刷新流程：

    1. 输入密码，点击“Reprogramming Tool”按钮，进入程序刷新窗口。

    2. 在弹出的程序刷新窗口（Reprogramming Tool）下，点击“S19”按钮，选择要刷新（下载）的程序包。

    3. 点击“Download”按钮，开始程序刷新。

    4. 刷新过程中，信息窗口会实时更新刷新过程的状态。

    5. 最后，进度条走到100，同时提示刷新成功。</value>
            </setting>
            <setting name="str1" serializeAs="String">
                <value />
            </setting>
            <setting name="str2" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>
